<footer>
  <div class="footer">
    <div class="container">
      <div class="row pre-footer">
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-geo-alt-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                HEAD OFFICE
              </h4>
              <p>
                PO Box 16122, Collins Street West,
                <br>
                Victoria 8007 Australia
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-telephone-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                CALL US
              </h4>
              <p>
                SUPPORT: 1800 425 4646
                <br>
                OFFICE: +1 (253) 2587 220
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-envelope-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                EMAIL US
              </h4>
              <p>
                hello&#64;offshoreindustry.com
                <br>
                md&#64;florya.ae
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row widgets">
        <div class="col-md-4 col-sm-6">
          <div class="about-txt widget">
            <img src="./assets/img/logo.png" alt="logo" class="img-fluid">
            <p>Collaboratively deliver partnerships progressive alignments. Assertively premier supply chains before
              emerging solutions. Monetize high-payoff action items before wireless internal or "organic" sources
              exceptional action items. </p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="quick-links widget">
            <h2 class="widget-title">QUICK LINKS</h2>
            <ul>
              <li><a routerLink="contact">Contact</a></li>
              <li><a routerLink="about">About</a></li>
              <li><a routerLink="services">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-services widget">
            <h2 class="widget-title">OUR SERVICES</h2>
            <ul>
              <li><a href="">Building Materials</a></li>
              <li><a href="">IT Computer equipment</a></li>
              <li><a href="">Fuel supplier</a></li>
              <li><a href="">Importing</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>