<header>
  <div class="container">
    <div class="row py-3">
      <div class="col-md-3 logo">
        <img src="./assets/img/logo.png" alt="logo" class="img-fluid">
      </div>
      <div class="col-md-9 top-info-social">
        <div class="float-end mt-3">
          <div class="float-start top-info">
            <div class="call float-start px-4 border-end ">
              <h3>{{'CALL_US'| translate}}</h3>
              <p>00971-56-8555551</p>
            </div>
            <div class="email float-start px-4 border-end ">
              <h3 class="">EMAIL US</h3>
              <p class="">md&#64;florya.ae</p>
            </div>
            <div class="market float-start px-4">
              <h3 class="">MARKET</h3>
              <p class="">256.78 <i class="bi bi-caret-up-fill link-success"></i> + 4.26 </p>
            </div>
          </div>
          <div class="social float-end">
            <div class="language-change" (click)="changeLanguage('ar')"><img [src]="imageSource" alt="logo"
                class="img-fluid"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg main-menu">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 main-menu">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">The Company</a></li>
              <li><a class="dropdown-item" href="#">Vision & Mission</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="services" routerLinkActive="active" class="nav-link"> SERVICES</a>
          </li>
          <li class="nav-item">
            <a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>