<div class="container">
  <section class="contact-form">
    <div class="row form">
      <div class="col-md-6">
        <h2 class="title-2">{{'CONTACT.SEND_US_MESSAGE' | translate}}</h2>
        <form action="" class="form well-form">
          <div class="form-group">
            <input type=" text" name="name" placeholder="{{'CONTACT.FULL_NAME' | translate}}" class="form-control">
          </div>
          <div class="form-group">
            <input type=" text" name="email" placeholder="{{'CONTACT.EMAIL_ADDRESS' | translate}}" class="form-control">
          </div>
          <div class="form-group">
            <input type=" text" name="phone" placeholder="{{'CONTACT.PHONE_NUMBER' | translate}}" class="form-control">
          </div>
          <div class="form-group">
            <textarea type=" text" name="name" placeholder="{{'CONTACT.MESSAGE' | translate}}"
              class="form-control"></textarea>
          </div>
          <button class="btn btn-block btn-warning">{{'CONTACT.SEND_MESSAGE' | translate}}</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="contact-area-box">
          <h4 class="contact-title subtitle">{{'CONTACT.UAE' | translate}}</h4>
          <div class="address">
            <i class="bi bi-geo-alt-fill"></i>
            <p>{{'CONTACT.STREET' | translate}}<br>
              {{'CONTACT.SECTOR' | translate}}<br>
              {{'CONTACT.COUNTRY' | translate}}</p>
          </div>
          <div class="phone">
            <i class="bi bi-telephone-fill"></i>
            <p> 025855208

            </p>
          </div>
          <div class="email">
            <i class="bi bi-envelope-fill">

            </i>
            <p>Sales&#64;florya.ae</p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>