<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./assets/img/slider1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="container">
          <h5>Targeting high impact exploration <br>
            Offshore Industry</h5>
          <p>Holisticly brand sustainable solutions rather than clicks-and-mortar applications. <br>
            Phosfluorescently whiteboard fully tested initiatives.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./assets/img/slider2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
            <div class="container">
          <h5>Most sophisticated Storage & Transport</h5>
          <p>Quickly disintermediate collaborative web services via high standards in products.<br>
            Compellingly fabricate cutting-edge portals through alternative<br>
            opportunities. Objectively customize.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
