<carousel [showIndicators]="false">
  <slide>
    <img src="./assets/img/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block text-center">
      <div class="container">
        <h5>{{'HOME.SLIDER1' | translate}}<br></h5>
        <p>{{'HOME.SLIDER3' | translate}} <br> {{'HOME.SLIDER4' | translate}}</p>
      </div>
    </div>
  </slide>
  <slide>
    <img src="./assets/img/slider2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block text-center">
      <div class="container">
        <h5>{{'HOME.SLIDER1' | translate}}<br></h5>
        <p>{{'HOME.SLIDER3' | translate}} <br> {{'HOME.SLIDER4' | translate}}</p>
      </div>
    </div>
  </slide>
</carousel>
