<section class="home-ceo">
  <div class="container">
    <div class="row align-items-center ceo">
      <div class="col-md-6">
        <div class="ceo-detailes">
          <h2 class="ceo-title color-title">WORD FROM CEO</h2>
          <h4 class="ceo-subtitle subtitle">READ THE MESSAGE FROM OUR CEO</h4>
          <p>
            I am delighted to extend a warm welcome to you on behalf of FLORYA
            GENERAL TRADING, where our commitment to excellence and innovation
            is at the heart of everything we do.
          </p>
          <p>
            As the Director of Florya Company in the Emirates, I am honored to
            lead a team dedicated to delivering unparalleled services in general
            trade, the provision of petroleum products, and transportation
            solutions. Our journey has been shaped by a steadfast commitment to
            quality, reliability, and building lasting relationships
          </p>
          <p>
            Our client base includes industries, transport, power generator,
            construction, and marine services.
          </p>
          <p>
            in the ever-evolving energy sector, Florya stands as a reliable
            supplier of petroleum products, including Gasoline, Gasoil, Jet Fuel
            A1, and more. Our commitment to quality and efficiency ensures that
            we meet the dynamic energy needs of our clients
          </p>
          <p>
            Our business is conducted in Abu Dhabi with strategic depots in UAE.
          </p>
          <p>
            Warm regards ,<br />
            Osama K M Alaqad<br />
            Director, FLORYA GENERAL TRADING
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ceo-photo">
          <img src="./assets/img/ceo.png" alt="ceo" class="float-end "/>
        </div>
      </div>
    </div>
  </div>
</section>
