<section class="home-ceo">
  <div class="container">
    <div class="row align-items-center ceo">
      <div class="col-md-8">
        <div class="ceo-detailes">
          <h2 class="ceo-title color-title">{{'HOME.WORD_FROM_CEO' | translate}}</h2>
          <h4 class="ceo-subtitle subtitle">{{'HOME.READ_THE_MESSAGE_FROM_OUR_CEO' | translate}}</h4>
          <p>
            {{'HOME.CEO_DESCRIPTION1' | translate}}
          </p>
          <p>
            {{'HOME.CEO_DESCRIPTION2' | translate}}
          </p>
          <p>
            {{'HOME.CEO_DESCRIPTION3' | translate}}
          </p>
          <p>
            {{'HOME.CEO_DESCRIPTION4' | translate}}
          </p>
          <p>
            {{'HOME.CEO_DESCRIPTION5' | translate}}
          </p>
          <p>
            {{'HOME.WARM_REGARDS' | translate}}<br />
            {{'HOME.CEO_NAME' | translate}}<br />
            {{'HOME.CEO_POSITION' | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ceo-photo d-flex justify-content-end">
          <img src="./assets/img/ceo.png" alt="ceo" class=" flipped-image w-50" />
        </div>
      </div>
    </div>
  </div>
</section>
