<div class="container">
  <div class="row about-sidebar">
    <app-common-sidebar></app-common-sidebar>
    <div class="col-md-9 about-content">
        <section class="about-company">
            <div class="com">
                <h2 class="company-title color-title"> MISSION AND VISION </h2>
                <h4 class="company-subtitle subtitle">
                    FLORYA GENERAL TRADING LLC
                </h4>
                <p>Florya General Trading LLC is a prominent business entity based in the United 
                    Arab Emirates, dedicated to delivering excellence in various sectors. Established 
                    with a commitment to quality, reliability, and customer satisfaction, Florya 
                    General Trading has emerged as a leading player in the wholesale and trading 
                    industry .</p>
            </div>
        </section>
        <section class="about-vision">
            <div class="row vision">
                <div class="col-md-12">
                    <h4 class="company-subtitle subtitle"> OUR VISION </h4>
                    <p>To be a leading player in the local market, providing high-quality products and 
                        services, while fostering sustainable and mutually beneficial partnerships.</p>
                </div>
                <div class="col-md-12">
                    <h4 class="company-subtitle subtitle"> OUR MISSION </h4>
                    <p>Florya General Trading is dedicated to delivering superior products and services 
                        across diverse industries, ensuring customer satisfaction, operational excellence, 
                        and contributing to the economic growth of the region.</p>
                </div>
            </div>
        </section>
    </div>
  </div>
</div>
