<div class="container">
  <div class="row about-sidebar">
    <app-common-sidebar></app-common-sidebar>
    <div class="col-md-9 about-content">
      <section class="about-company">
        <div class="com">
          <h2 class="company-title color-title"> {{'ABOUT.OUR_MISSION' | translate}} </h2>
          <h4 class="company-subtitle subtitle">
            {{'ABOUT.COMPANY_NAME' | translate}}
          </h4>
          <p>{{'ABOUT.MISSION_DESC' | translate}}</p>
        </div>
      </section>
      <section class="about-vision">
        <div class="row vision">
          <div class="col-md-12">
            <h4 class="company-subtitle subtitle">{{'ABOUT.OUR_VISION' | translate}}</h4>
            <p>{{'ABOUT.VISITON_DESC' | translate}}</p>
          </div>
          <div class="col-md-12">
            <h4 class="company-subtitle subtitle">{{'ABOUT.OUR_MISSION' | translate}}</h4>
            <p>{{'ABOUT.MISSION_DESC1' | translate}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>