<section class="company">
  <div class="container">
    <div class="row align-items-center company">
      <div class="col-md-5 col-sm-8">
        <div class="company-details">
          <h2 class="company-title color-title">
            THE COMPANY
          </h2>
          <h4 class="company-subtitle subtitle">
            Florya General Trading LLC is a prominent business entity based in the United
            Arab Emirates.
          </h4>
          <p>
            Florya General Trading LLCdedicated to delivering excellence in various sectors. Established
            with a commitment to quality, reliability, and customer satisfaction, Florya
            General Trading has emerged as a leading player in the wholesale and trading
            industry .
          </p>
          <a href="" class="btn btn-primary"> READ OUR MISSION </a>
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="company-image">
          <div class="img-left hover-effect">
            <img src="./assets/img/company-image2.jpg" alt="company-image">
          </div>
          <div class="img-right hover-effect">
            <img src="./assets/img/company-image1.jpg" alt="company-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>