<section class="home-services">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="title-services-other title-2">{{'HOME.SERVICES_HOME' | translate}}</h2>
      <h4 class="subtitle-services-other subtitle-2">
        {{'HOME.SERVICES_DESCRIPTION' | translate}} <br />
        {{'HOME.SERVICES_DESCRIPTION1' | translate}}
      </h4>
      <div class="mb-5"></div>
    </div>
    <div class="row services-other">
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-building"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">{{'HOME.BUILDING_MATERIALS' | translate}}</h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-pc-display"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">{{'HOME.IT_COMPUTER_EQUIPMENT' | translate}}</h4>
          <p></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-fuel-pump"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">{{'HOME.FUEL_SUPPLIER' | translate}}</h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-fire"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.ONSHORE_AND_OFFSHORE_OIL' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-truck"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.GOODS_AND_SHIPMENT_SERVICES' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-capsule"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.PARA_PHARMACEUTICAL_PRODUCTS_WHOLESALE' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <ng-icon name="tablerPerfume"></ng-icon>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.WHOLESALE_OF_PERFUME_TRADING' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <ng-icon name="simpleIobroker"></ng-icon>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">{{'HOME.SERVICES_BROKER' | translate}}</h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-box"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.WHOLESALE_OF_FILLING_AND_PACKAGING_MATERIAL_TRADING' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-heart"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            {{'HOME.WHOLESALE_OF_COSMETICS_AND_TRADING' | translate}}
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-box-arrow-in-down"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">{{'HOME.IMPORTING' | translate}}</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
</section>
