<section class="home-services">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="title-services-other title-2">SERVICES</h2>
      <h4 class="subtitle-services-other subtitle-2">
        Florya General Trading offers a comprehensive portfolio of products to
        meet the varying <br />
        needs of businesses across different industries
      </h4>
      <div class="mb-5"></div>
    </div>
    <div class="row services-other">
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-building"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">Building Materials</h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-pc-display"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">IT Computer equipment</h4>
          <p></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-fuel-pump"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">Fuel supplier</h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-fire"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Onshore and Offshore Oil and Gas Fields and Facilities
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-truck"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Goods and Shipment Services
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-capsule"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Para-Pharmaceutical Products Wholesale
          </h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <ng-icon name="tablerPerfume"></ng-icon>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Wholesale of Perfume Trading
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <ng-icon name="simpleIobroker"></ng-icon>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">Services Broker</h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-box"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Wholesale of Filling and Packaging Material Trading
          </h4>
          <p></p>
        </div>
      </div>
      <div class="mb-5"></div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-heart"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">
            Wholesale of Cosmetics and Trading
          </h4>
          <p></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <i class="bi bi-box-arrow-in-down"></i>
        </div>
        <div class="services-info">
          <h4 class="services-title-one subtitle">Importing</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
</section>
