<footer>
  <div class="footer">
    <div class="container">
      <div class="row pre-footer">
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-geo-alt-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                {{'HOME.HEAD_OFFICE'| translate}}
              </h4>
              <p>
                {{'CONTACT.STREET'| translate}}{{'CONTACT.SECTOR'| translate}}
                <br>
                {{'CONTACT.COUNTRY'| translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-telephone-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                {{'HOME.CALL_US'| translate}}
              </h4>
              <p>
                {{'HOME.OFFICE'| translate}}: 025855208
                <br>
                {{'HOME.SUPPORT'| translate}}: 0561115542
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <i class="bi bi-envelope-fill"></i>
            <div class="contact-details">
              <h4 class="pre-footer-title">
                {{'HOME.EMAIL_US'| translate}}
              </h4>
              <p>
                Sales&#64;florya.ae
                <br>
                Info&#64;florya.ae
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row widgets">
        <div class="col-md-4 col-sm-6">
          <div class="about-txt widget">
            <img src="./assets/img/logo.png" alt="logo" class="img-fluid">
            <p>{{'HOME.FOOTER_DESCR'| translate}}</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="quick-links widget">
            <h2 class="widget-title">{{'HOME.QUICK_LINKS'| translate}}</h2>
            <ul>
              <li><a routerLink="contact">{{'HOME.CONTACT'| translate}}</a></li>
              <li><a routerLink="about">{{'HOME.ABOUT'| translate}}</a></li>
              <li><a routerLink="services">{{'HOME.SERVICES'| translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-services widget">
            <h2 class="widget-title">{{'HOME.OUR_SERVICES'| translate}}</h2>
            <ul>
              <li><a href="">{{'HOME.BUILDING_MATERIALS'| translate}}</a></li>
              <li><a href="">{{'HOME.IT_COMPUTER_EQUIPMENT'| translate}}</a></li>
              <li><a href="">{{'HOME.FUEL_SUPPLIER'| translate}}</a></li>
              <li><a href="">{{'HOME.IMPORTING'| translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>