/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400,700";

$main-color : #48326d;
$secondry-color : #76797f;
$temp-color: #C71866;

body {
  font-family: roboto condensed;
}

.main-color {
  color: $main-color;
}

.secondry-color {
  color: $secondry-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto condensed;

}

.main-menu {
  background-color: #f4f5f8;
}

.container {
  max-width: 100% !important;
  width: 1170px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.carousel-caption {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 5;
  width: 100%;
  text-align: left;
}

.carousel-caption h5 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 30px;
}

.carousel-caption p {
  font-size: 20px;
  color: #fff;
  line-height: 1.4;
  font-weight: 100;
  margin: 0 0 40px;
}



.carousel-control-prev {

  z-index: 99;
  width: 54px;
  height: 100px;
  position: absolute;
  top: 50%;
}

.carousel-control-next {

  z-index: 99;
  width: 54px;
  height: 100px;
  position: absolute;
  top: 50%;
}

section {
  padding: 80px 0;
}

h2.color-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #ffda44;
  margin: 0;
  padding: 0 15px;
  line-height: 28px;
}

h4.subtitle {
  font-size: 20px;
  font-family: roboto;
  color: #093eb6;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}

.btn-primary {
  background: #093eb6;
  color: #fff;
}

.btn {
  border-radius: 3px;
  font-size: 16px;
  font-family: roboto condensed;
  font-weight: 700;
  line-height: 48px;
  padding: 0 22px;
  border: none;
  border: none;
  text-transform: uppercase;
  -webkit-transition: .5s ease all;
  -o-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  transition: .5s ease all;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.company-image {
  position: relative;
  min-height: 370px;
}

.company-image .img-left {
  width: 55%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.company-image .img-right {
  width: 85%;
  right: 0;
}

.company-image>div {
  position: absolute;
}

.hover-effect,
.img-hover-effect {
  background: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 -1.5px;
}

.company-image .img-left img,
.company-image .img-right img {
  height: 100%;
  min-width: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
}

.hover-effect img,
.img-hover-effect img {
  width: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  -ms-transition: .5s ease all;
  transition: .5s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hover-effect:hover img {
  opacity: .6;
  transform: scale(1.1)
}

section.ceo {
  background: #f4f5f8;
  padding: 0;
}

p {
  font-size: 16px;
  color: #677078;
  line-height: 1.688;
  margin-bottom: 20px;
}

section.home-ceo {
  background: #f4f5f8;

}

h2.title-2 {
  font-size: 40px;
  font-family: roboto;
  color: #093eb6;
  font-weight: 700;
  margin: 0;
}

h4.subtitle-2 {
  font-size: 20px;
  font-family: roboto;
  color: #4c4f54;
  font-weight: 700;
  line-height: 1.4;
  margin: 10px 0 20px;
}

.services-other .img-box {
  float: left;
  margin-right: 22px;
  display: inline-block;
  width: 78px;
  height: 78px;
  line-height: 74px;
  text-align: center;
  border: 2px solid #ffda44;
  font-size: 50px;
  color: #ffda44;
}

svg {
  vertical-align: unset;
}


@media (max-width: 787px) {
  .company>div {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .company {
    display: block;
    text-align: center;
  }

  .row.services-other>div {
    margin-bottom: 45px;
  }

  .services-other .img-box {
    float: none;
    margin: 0;
  }

  .contact-box {
    padding: 30px 18px;
  }

  .row.pre-footer {
    padding: 0 15px;
  }

  .row.services-other {
    text-align: center;
  }

  .company>div {
    margin: 0 auto 30px;
    float: none;
  }

  .logo {
    text-align: left;
    margin-bottom: 20px;
  }

  .top-info-social {
    display: none;
  }
}