.page-title {
    background: url(../../../assets/img/page_title_bg.png) no-repeat left center;
    background-size: cover;
    padding: 70px 0;
}
.page-title h2.title {
    margin: 0 0 25px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    line-height: 1.26;
}

.page-title p.description {
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 0;
}
.light {
    font-weight: 100;
}